version: '3.4'

x-default:
  &default-odoo
  tty: true
  build: .
  volumes:
    - odoo-web-data:/var/lib/odoo
    - ./odoo.conf:/etc/odoo/odoo.conf:ro
    - ../../common:/mnt/common:ro
    - ./:/mnt/project:ro
    - type: bind
      source: ./host2db.ini
      target: /var/lib/odoo/host2db.ini

  environment:
    - WDB_SOCKET_SERVER=wdb
    - WDB_NO_BROWSER_AUTO_OPEN=True
    - SAAS_TEST_REMOTE_INSTANCE_URL=http://remote:8069
    - SAAS_TEST_REMOTE_MASTER_PWD=admin

services:
  test:
    << : *default-odoo
    depends_on:
      - remote
      - db
      - wdb
      - proxy
      - odoo-longpolling
      - smtpfake
    command: [
    '--db-filter', '.*',
    '--workers', '0',
    '-d', 'saas_test',
    '-i', 'saas_cluster_simple',
    '--stop-after-init',
#    '--test-enable',
    ]

  remote:
    << : *default-odoo
    depends_on:
      - db
    command: [
    '--load', 'base,web,host2db,saas_cluster_simple',
    ]

  odoo:
    << : *default-odoo
    depends_on:
      - db
      - wdb
      - proxy
      - odoo-longpolling
      - smtpfake
    command: ['--dev', 'reload,qweb,werkzeug,xml',
    '-d', 'saas',
    '-i', 'saas_cluster_simple',
    ]

  odoo-longpolling:
    << : *default-odoo
    depends_on:
      - db
      - wdb
      - proxy
    command: ['odoo', 'gevent', '--dev', 'reload,qweb,werkzeug,xml']

  db:
    image: postgres:10
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    ports:
      - "5433:5432"

  proxy:
    image: envoyproxy/envoy-alpine:v1.10.0
    ports: ['80:80']
    volumes: ['./envoy.yaml:/etc/envoy/envoy.yaml']

  wdb:
    image: kozea/wdb:3.3.0

  smtpfake:
    image: mailhog/mailhog

volumes:
  odoo-web-data:
  odoo-db-data:
