version: '3.4'

x-default:
  &default-odoo
  tty: true
  volumes:
    - odoo-web-data:/var/lib/odoo
    - ./odoo.conf:/etc/odoo/odoo.conf:ro
    - ../../common:/mnt/common:ro
    - ./:/mnt/project

  environment:
    - WDB_SOCKET_SERVER=wdb
    - WDB_NO_BROWSER_AUTO_OPEN=True

services:
  odoo:
    << : *default-odoo
    build: .
    depends_on:
      - db
      - wdb
      - proxy
      - odoo-longpolling
      - smtpfake
    command: ['--dev', 'reload,qweb,werkzeug,xml',
    '-d', 'dev',
    '-i', 'limitless_portal',
#    '-i', 'limitless_base,limitless_sale,limitless_website,limitless_website_sale',
#    '-u', 'limitless_portal',
#    '--log-handler', 'odoo.sql_db:DEBUG',
#    '-u', 'limitless_portal',
#    '-d', 'master',
#    '-i', 'limitless_website_sale',
    '--log-handler', 'odoo.addons.payment_datatrans:DEBUG',
    '--log-handler', 'odoo.addons.limitless_website_sale:DEBUG',
    ]
    ports:
      - "8069:8069"

  odoo-longpolling:
    << : *default-odoo
    image: "odoo:15.0"
    depends_on:
      - db
      - wdb
      - proxy
    command: ['odoo', 'gevent', '--dev', 'reload,qweb,werkzeug,xml']

  db:
    image: postgres:10
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    ports:
      - "5433:5432"

  proxy:
    image: envoyproxy/envoy-alpine:v1.10.0
    ports: ['80:80']
    volumes: ['./envoy.yaml:/etc/envoy/envoy.yaml']

  wdb:
    image: kozea/wdb:3.3.0

  smtpfake:
    image: mailhog/mailhog

volumes:
  odoo-web-data:
  odoo-db-data:
